.quiz_page {
    padding-right: 0;
    padding-left: 0;
}

.quiz_page .card {
    --bs-card-border-color: transparent;
    --bs-card-border-radius: 0px;
}

.quiz_page .card-header {
    position: relative;
    padding-left: 4.5%;
    padding-right: 4.5%;
    background-color: #003554;
    color: ghostwhite;
    border-bottom: 2px dashed #333333;
}

.quiz_page .card-header .dropdown-toggle::after {
    display: none;
}

.hide_btn {
    padding-right: 25px;
    padding-left: 25px;
    height: 26px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: ghostwhite;
}

.quiz_banner {
    text-transform: uppercase;
    background-color: #f0f0f0;
    width: 92%;
    height: 50px;
    border-radius: 0px 0px 20px 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.subject_heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;

}

.direction_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: ghostwhite;
}

.timer {

    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;

}

.quiz_page .card-body {
    position: relative;
    padding-left: 4.5%;
    padding-right: 4.5%;
}

.markForReviewBtn {
    border: 0px !important;
    font-size: 1.1rem;
}

.myIcon {

    font-size: 2.2rem;
    padding: 5px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: pointer;
    color: gray;
}

.quiz_page .row {
    --bs-gutter-x: 0rem;
}

.option_header {
    background-color: #f0f0f0;
    border-bottom: 2px dashed #333333;
}

.option_main,
.question_main {
    color: #626262;
    font-weight: 550;
}

.option_component,
.question_component {
    position: relative;
    max-height: 65vh;
    overflow: auto;
    overflow-x: hidden;
}

.question_component::-webkit-scrollbar {
    width: 0px;
    /* Scrollbar width */
    /* For now this is zero */
}

.question_component::-webkit-scrollbar-thumb {
    background: #888;
    /* Scrollbar thumb color */
    border-radius: 4px;
    /* Rounded corners */
}

.question_component::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Hover color for the scrollbar */
}

.question_component::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Scrollbar track color */
}

.option_component::-webkit-scrollbar {
    width: 0px;
    /* Scrollbar width */
    /* For now this is zero */
}

.option_component::-webkit-scrollbar-thumb {
    background: #888;
    /* Scrollbar thumb color */
    border-radius: 4px;
    /* Rounded corners */
}

.option_component::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Hover color for the scrollbar */
}

.option_component::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Scrollbar track color */
}

.quiz_page .card-body {
    border-bottom: 2px dashed #333333;
}

.test_navigation {
    background-color: #003554;
    color: ghostwhite;
    position: relative;
    padding-left: 4.5%;
    padding-right: 4.5%;
}

.choosedOption {
    border: 2px solid #DC9809 !important;

}

.choosedOption .option_num {
    background-color: #324DC7;
    color: #FFFFFF;
    border-radius: 50%;
}

.navigationModal {
    position: relative;
    top: -58vh;

}

.navigationModal .modal-content {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navigationModal .myDirections {
    padding: 5px;
    border-top: 1.5px solid #7271714b;
    border-bottom: 1px solid #7271714b;
}

.navigationModal .modal-header .btn-close {
    position: absolute;
    top: 28px;
    right: 15px;
}

.navigationModal .directions_box {
    position: relative;
    border: 1px dotted #4949499f;
    cursor: pointer;
}

.navigationModal .directions_box .hide {
    display: none;
}

.navigationModal .directions_box .show {
    display: flex;
}

.navigationModal .directions_box .mark_review {
    position: absolute;
    top: -12px;
    right: -8px;
}

.navigationModal .directions_box .curent_position {
    position: absolute;
    top: -20px;
    right: 3px;

}

.more_dropDown {
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.more_dropDown li {
    padding: 10px 30px 10px 10px;
    font-size: 1.3rem;
    font-weight: 600;

}

.more_dropDown .more_inactive {
    color: #888;
}

/* .moreModal {
    max-height: 80vh;
    overflow-y: auto;
} */

.accordion-button::after {
    display: none !important;
    /* Hides the default up and down arrows */
}



.helpAccordion .accordion-item {
    border: none;
    border-bottom: 1.5px solid #eee;
}

.helpAccordion .accordion-header span {
    font-size: 1.3rem;
    font-weight: 500;
}

.helpAccordion .accordion-header button:hover {
    background: #eee !important;
}

.accPlusIcon {
    font-size: 2.2rem !important;
}

.QnumBtn {
    color: black;
    background-color: ghostwhite;
    font-weight: 750;
}

.myQuizCard {
    --bs-card-border-width: none;
    --bs-card-inner-border-radius: 0;
}