/* src/components/Button.css */

.button {
  padding: 10px 25px;
  background-color: #324dc7;
  color: #fff;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.disabledBtn {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.disabledBtn:hover {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.QnumBtn {
  position: relative;
  margin-left: 10%;
  cursor: pointer;
}